<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>login-servlet</servlet-name>
    <servlet-class>com.servlet.adminlte.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>home-servlet</servlet-name>
    <servlet-class>com.servlet.adminlte.controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login-servlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>home-servlet</servlet-name>
    <url-pattern>/home-servlet</url-pattern>
  </servlet-mapping>
</web-app>
